$darkgreen: 	#172200;
$green:   rgba(131, 172, 49, 0.81);

h1 {
  color: $darkgreen;
  background: -webkit-linear-gradient(#CE4022, #CFA601);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #DAD833;
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 10em;
}


h2 {
  font-family: 'Luckiest Guy';
  font-size: 3em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #CE4022;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: $darkgreen;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: #CE4022;
}

body {
  background-image: url(../../img/jungle.jpeg);
  text-align: center;
}

button {
  margin-top: 10px;
}

.container {
 background-color: $green;
 margin-top: 30px;
 border-radius: 10px;
 padding: 50px;
}

// .form-group {
//   position: center;
// }
#saved, #dead {
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 6em;
  z-index: 2;
}

#gameSubmit, #newGameStart {
  background-color: #CE4022;
}

#game-go {
  display:none;
}

#saved, #dead, #friends, #victory {
  display:none;
}

#nameForm,  #game-go {
  border-radius: 10px;
  border: solid 2px #CE4022;
  padding: 25px;
  margin-top: 50px;
  background-color: rgba(218, 216, 51, 0.85);
}
